*
{
    margin: 0px;
    padding: 0px;

}
.container
{
    /* border: 1px solid yellow; */
    margin: 45px 200px;
}
.show
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.imglist
{
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 300px;
    margin-right: 30px;
    border: none;
    /* border: 1px solid red; */
}
.displayimg
{
    background-color: #fff;
}
.btn
{
    display: flex;
    /* border: 1px solid green;  */
    background-color: #fff;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
}
.btn text
{
    padding-top: 15px;
    padding-left: 10px;
}
.btnimg
{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}
.displaying
{
    display: flex;
    flex-direction: column;
}
.displaying img
{
    width: 500px;
    height: 750px;
}
.text
{
    padding-top: 15px;
    font-size: large;
    vertical-align: middle;
}
.displaying input
{
    text-align: center;
    font-size: 1.5em;
    color: gray;
    border: none;
}